<!DOCTYPE html>
<html>
<head>
<title>GSLAB Wall-E</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>

</style>
<script type="text/javascript">


{{/* ----------------------------------------------------------------------------------------------------------------- */}}

function searchUser() {
    url= "/search/" + document.getElementById("searchuser").value;
    window.location.href = url;
};

</script>
<body>
<div class="container">
<h3>Could Not find your email address !! </h3>
<form id="emailForm">
<label for="email">Please enter your Email :</label> &nbsp;
<input type="text" id="email" name="email"> &nbsp;
<input type="button" value="Submit" onclick="getEmail();" />
</form>
<hr>
</div>
</body>
</html>
 

