
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Wall</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
div.ext1{
  background-color: lightblue;
  width: 500px;
  height: 600px;
  overflow: auto;
}

</style>

</head>
<h1>POSTS</h1>
<h1>{{.Posts}}</h1>
<h1>COMMENTS</h1>
<h1>{{.Comments}}</h1>
<body style="background: rgba(150, 150, 150, 0.4); overflow-x:hidden;">
     <nav class="row-fluid navbar navbar-inverse"  style="background-color: rgba(75, 75,75, 0.3 ) ;">
        <div class="container-fluid">
           <h3 style="color:blue;"><b>  Gslab Wall</b></h3>
            <ul class="nav navbar-nav navbar-right">
                <li><a href = ""> LogOut</a></li>
            </ul>
        </div>
    </nav>
    
<div class = "justify-content-center row w-75 border"  style="padding-top:10%; ">
<form id="main">
<h1><strong>{{.User.UserName}}</strong></h1>
<h3><strong>{{.User.UserFullName}}</strong></h3>
<h3><i><u>{{.User.UserEmail}}</u></i></h3>

<button type="submit" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#addpost">new post</button>

<div id = "addpost" class = " row form-groups justify-content-center">
<form  class = "row col-sm-6 text center " id="postdata"  style="border-width:5px;border-style:ridge;">
<div class="col-sm-7"> <label><h2><b>{{.Posts.WallUserName}}</b></h2></label></div>
<div class="col-sm-7"> <textarea id="postcontent" name="postcontent" maxlength="255">
  </textarea>
</div>
<input type="submit" class="btn" name="postdata" value="Post" onclick="addNewPost()">
</form>
</div>
{{range .Posts}}
<div class = " row form-groups justify-content-center" >
                <form  class = "row col-sm-6 text center " id="post"   style="border-width:5px;border-style:ridge;">
               <div class="col-sm-7"> <label><h2><b>{{.UserName}}</b></h2></label></div>
                <div class="col-sm-7"> <label><h2><b>{{.PostTitle}}</b></h2></label></div>
                <div class="col-sm-7"> <textarea id="pcontent" name="post" readonly>
                {{.PostContent}}
  </textarea>
</div>
 <div class="col-sm-1">
  {{/* <label><small>{{.PostLikeList}}</small> </label> */}}
  </div>
 <div class="col-sm-3">
 <label><small>{{.PostCreatedDateTime}}</small></label></div>
</div>
<div class="ext1">
{{range .Comments}}
<div>
    <div class="col-sm-11"> <label><h4><b>{{.UserName}} :</b></h4> {{.CommentContent}}</label></div>
    <div class="col-sm-1"><label><small></small> </label></div>    
    <div class="col-sm-3 right"><label><small>{{.PostCreatedDateTime}}</small></label></div>
    {{ if ne .SubComments nil}}
        {{range .SubComments}}
        <div>
            <div class="col-sm-11"> <label><h4><b>{{.UserName}} :</b></h4> {{.CommentContent}}</label></div>
            <div class="col-sm-1"><label><small></small> </label></div>    
            <div class="col-sm-3 right"><label><small>{{.PostCreatedDateTime}}</small></label></div>
        </div>
        {{end}}
    {{end}}
    <button type="submit" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#newsubcomment">new post</button>

<div id = "newsubcomment" class = " row form-groups justify-content-center">
<form  class = "row col-sm-6 text " id="subcomment" form="main"  style="border-width:5px;border-style:ridge;">
<div class="col-sm-7"> <label><h2><b>{{.UserName}}</b></h2></label></div>
<div class="col-sm-7"> <textarea id="postcomment" name="postcomment" maxlength="255">
  </textarea>
</div>
<input type="submit" class="btn" name="postsubcomment" value="+" onclick="addNewSubComment()">
</form>
</div>
</div>
{{end}}
</div>
<button type="submit" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#newcomment">new post</button>

<div id = "newcomment" class = " row form-groups justify-content-center">
<form  class = "row col-sm-6 text " id="comment" form="main"  style="border-width:5px;border-style:ridge;">
<div class="col-sm-7"> <label><h2><b>{{.Posts.UserName}}</b></h2></label></div>
<div class="col-sm-7"> <textarea id="postcomment" name="postcomment" maxlength="255">
  </textarea>
</div>
<input type="submit" class="btn" name="postcomment" value="Post" onclick="addNewComment()">
</form>
</div>
</form>
 {{end}}
 </form>
</div>
</body>
</html> 